<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebCamPassport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AForge" publicKeyToken="c1db6ff4eaa06aeb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WebCamPassport.Properties.Settings>
      <setting name="WebCamDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="WebCamResolution" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="Ratio" serializeAs="String">
        <value>Passport</value>
      </setting>
      <setting name="scaleHeight" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="scaleWidth" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="scaleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="quality" serializeAs="String">
        <value>Custom</value>
      </setting>
    </WebCamPassport.Properties.Settings>
  </userSettings>
</configuration>
